@using System.Text.RegularExpressions;
@model north.ViewModels.CategoriesViewModel
@{
    ViewBag.Title = "List of Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jqgrid-listinline.js")

    <script type="text/javascript">
        var urlAndMethod = '/Categories/Delete/';
        var errorMessage = '';

        function getSerializedData(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);

            var serializedData =
                "'CategoryID':'" + rowData.CategoryID + "'," +
                "'CategoryName':'" + $('#' + currentId + '_CategoryName').val() + "'," +
                "'Description':'" + $('#' + currentId + '_Description').val() + "'";

            return serializedData;
        }

        function isDataValid(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);
        
            var categoryName = $('#' + currentId + '_CategoryName').val();

            // validation
            if (categoryName == '') errorMessage += '- Category Name is required.<br/>';
            if (categoryName.length > 15) errorMessage += '- Category Name must be 15 characters or less.<br/>';

            if (errorMessage == '')
                return true;
            else
                return false;
        }

        $(function () {

            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/CategoriesApi/SelectSkipTake/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Category ID','Category Name','Description', '', ''],
                colModel: [
                    { name: 'CategoryID', index: 'CategoryID', align: 'right' },
                    { name: 'CategoryName', index: 'CategoryName', align: 'left', editable: true },
                    { name: 'Description', index: 'Description', align: 'left', editable: true },
                    { name: 'editoperation', index: 'editoperation', align: 'center', width: 40, sortable: false },
                    { name: 'deleteoperation', index: 'deleteoperation', align: 'center', width: 40, sortable: false }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'CategoryID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Categories',
                height: '100%',
                width: '1200',
                gridComplete: function () {
                    var ids = jQuery("#list-grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var currentid = ids[i];
                        editLink = "<a id='editLink" + currentid + "' href='#' onclick=\"editRow('" + currentid + "');\"><img src='/Content/Images/Edit.gif' style='border:none;' /></a>" +
                                "<a id='saveLink" + currentid + "' style='display:none;' href='#' onclick=\"saveRow('" + currentid + "', 'Categories');\"><img src='/Content/Images/Checked.gif' style='border:none;' /></a>";

                        deleteLink = "<a href='#' id='deleteLink" + currentid + "' onclick=\"deleteItem('" + currentid + "')\"><img src='/Content/Images/Delete.png' style='border:none;' /></a>" +
                            "<a id='cancelLink" + currentid + "' style='display:none;' href='#' onclick=\"cancelRow('" + currentid + "');\"><img src='/Content/Images/Unchecked.gif' style='border:none;' /></a>";

                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { editoperation: editLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { deleteoperation: deleteLink });
                    }
                }
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<div id="errorConfirmationDialog"></div>
<div id="errorDialog"></div>

<a href="#" id="addLink1" onclick="addRow()"><img src="@Url.Content("~/Content/Images/Add.gif")" alt="Add New Categories" style="border: none;" /></a>&nbsp;<a href="#" id="addLink2" onclick="addRow()">Add New Categories</a>
<br /><br />

<table id="list-grid"></table>
<div id="list-pager"></div>
