@{
    ViewBag.Title = "List of Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jqgrid-listcrudredirect.js")

    <script type="text/javascript">
        var urlAndMethod = '/Employees/Delete/';

        $(function () {
            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/EmployeesApi/SelectSkipTake/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Employee ID','Last Name','First Name','Title','Title Of Courtesy','Birth Date','Hire Date','Address','City','Region1','Postal Code','Country','Home Phone','Extension','Notes','Reports To','Photo Path', '', ''],
                colModel: [
                    { name: 'EmployeeID', index: 'EmployeeID', align: 'right' },
                    { name: 'LastName', index: 'LastName', align: 'left' },
                    { name: 'FirstName', index: 'FirstName', align: 'left' },
                    { name: 'Title', index: 'Title', align: 'left' },
                    { name: 'TitleOfCourtesy', index: 'TitleOfCourtesy', align: 'left' },
                    { name: 'BirthDate', index: 'BirthDate', align: 'left', sorttype: "date" },
                    { name: 'HireDate', index: 'HireDate', align: 'left', sorttype: "date" },
                    { name: 'Address', index: 'Address', align: 'left' },
                    { name: 'City', index: 'City', align: 'left' },
                    { name: 'Region1', index: 'Region1', align: 'left' },
                    { name: 'PostalCode', index: 'PostalCode', align: 'left' },
                    { name: 'Country', index: 'Country', align: 'left' },
                    { name: 'HomePhone', index: 'HomePhone', align: 'left' },
                    { name: 'Extension', index: 'Extension', align: 'left' },
                    { name: 'Notes', index: 'Notes', align: 'left' },
                    { name: 'ReportsTo', index: 'ReportsTo', align: 'right' },
                    { name: 'PhotoPath', index: 'PhotoPath', align: 'left' },
                    { name: 'editoperation', index: 'editoperation', align: 'center', width: 40, sortable: false },
                    { name: 'deleteoperation', index: 'deleteoperation', align: 'center', width: 40, sortable: false }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'EmployeeID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Employees',
                height: '100%',
                width: '1200',
                gridComplete: function () {
                    var ids = jQuery("#list-grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var currentid = ids[i];
                        editLink = "<a href='/Employees/Update/" + currentid + "'><img src='/Content/Images/Edit.gif' style='border:none;' /></a>";
                        deleteLink = "<a href='#' onclick=\"deleteItem('" + currentid + "')\"><img src='/Content/Images/Delete.png' style='border:none;' /></a>";
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { editoperation: editLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { deleteoperation: deleteLink });
                    }
                }
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<div id="errorConfirmationDialog"></div>
<div id="errorDialog"></div>

<a href="@Url.Action("Add", "Employees")"><img src="@Url.Content("~/Content/Images/Add.gif")" alt="Add New Employees" style="border: none;" /></a>&nbsp;@Html.ActionLink("Add New Employees", "Add", "Employees")
<br /><br />

<table id="list-grid"></table>
<div id="list-pager"></div>
