@{
    ViewBag.Title = "List of Region";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jqgrid-listcrudredirect.js")

    <script type="text/javascript">
        var urlAndMethod = '/Region/Delete/';

        $(function () {
            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/RegionApi/SelectSkipTake/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Region ID','Region Description', '', ''],
                colModel: [
                    { name: 'RegionID', index: 'RegionID', align: 'right' },
                    { name: 'RegionDescription', index: 'RegionDescription', align: 'left' },
                    { name: 'editoperation', index: 'editoperation', align: 'center', width: 40, sortable: false },
                    { name: 'deleteoperation', index: 'deleteoperation', align: 'center', width: 40, sortable: false }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'RegionID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Region',
                height: '100%',
                width: '1200',
                gridComplete: function () {
                    var ids = jQuery("#list-grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var currentid = ids[i];
                        editLink = "<a href='/Region/Update/" + currentid + "'><img src='/Content/Images/Edit.gif' style='border:none;' /></a>";
                        deleteLink = "<a href='#' onclick=\"deleteItem('" + currentid + "')\"><img src='/Content/Images/Delete.png' style='border:none;' /></a>";
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { editoperation: editLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { deleteoperation: deleteLink });
                    }
                }
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<div id="errorConfirmationDialog"></div>
<div id="errorDialog"></div>

<a href="@Url.Action("Add", "Region")"><img src="@Url.Content("~/Content/Images/Add.gif")" alt="Add New Region" style="border: none;" /></a>&nbsp;@Html.ActionLink("Add New Region", "Add", "Region")
<br /><br />

<table id="list-grid"></table>
<div id="list-pager"></div>
