@using System.Text.RegularExpressions;
@model north.ViewModels.TerritoriesViewModel
@{
    ViewBag.Title = "List of Territories";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string regionIDSelectValues = ":";

    foreach (var item in Model.RegionDropDownListData.OrderBy(r => r.RegionID))
    {
        regionIDSelectValues += ";" + item.RegionID + ":" + item.RegionID + " - " + Regex.Replace(item.RegionDescription == null ? "" : item.RegionDescription, "[^a-zA-Z0-9 -]", "");
    }
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jqgrid-listinline.js")

    <script type="text/javascript">
        var urlAndMethod = '/Territories/Delete/';
        var errorMessage = '';

        function getSerializedData(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);

            var serializedData =
                "'TerritoryID':'" + $('#' + currentId + '_TerritoryID').val() + "'," +
                "'TerritoryDescription':'" + $('#' + currentId + '_TerritoryDescription').val() + "'," +
                "'RegionID':'" + $('#' + currentId + '_RegionID').val() + "'";

            return serializedData;
        }

        function isDataValid(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);
        
            var territoryID = $('#' + currentId + '_TerritoryID').val();
            var territoryDescription = $('#' + currentId + '_TerritoryDescription').val();
            var regionID = $('#' + currentId + '_RegionID').val();

            // validation
            if (territoryID == '') errorMessage += '- Territory ID is required.<br/>';
            if (territoryID.length > 20) errorMessage += '- Territory ID must be 20 characters or less.<br/>';
            if (territoryDescription == '') errorMessage += '- Territory Description is required.<br/>';
            if (territoryDescription.length > 50) errorMessage += '- Territory Description must be 50 characters or less.<br/>';
            if (regionID == '') errorMessage += '- Region ID is required.<br/>';

            if (errorMessage == '')
                return true;
            else
                return false;
        }

        $(function () {
            var regionIDSelectValues = "@regionIDSelectValues";

            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/TerritoriesApi/SelectSkipTake/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Territory ID','Territory Description','Region ID', '', ''],
                colModel: [
                    { name: 'TerritoryID', index: 'TerritoryID', align: 'left' },
                    { name: 'TerritoryDescription', index: 'TerritoryDescription', align: 'left', editable: true },
                    { name: 'RegionID', index: 'RegionID', align: 'left', editable: true, formatter: 'select', stype: 'select', edittype: 'select', editoptions: { value: regionIDSelectValues } },
                    { name: 'editoperation', index: 'editoperation', align: 'center', width: 40, sortable: false },
                    { name: 'deleteoperation', index: 'deleteoperation', align: 'center', width: 40, sortable: false }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'TerritoryID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Territories',
                height: '100%',
                width: '1200',
                gridComplete: function () {
                    var ids = jQuery("#list-grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var currentid = ids[i];
                        editLink = "<a id='editLink" + currentid + "' href='#' onclick=\"editRow('" + currentid + "');\"><img src='/Content/Images/Edit.gif' style='border:none;' /></a>" +
                                "<a id='saveLink" + currentid + "' style='display:none;' href='#' onclick=\"saveRow('" + currentid + "', 'Territories');\"><img src='/Content/Images/Checked.gif' style='border:none;' /></a>";

                        deleteLink = "<a href='#' id='deleteLink" + currentid + "' onclick=\"deleteItem('" + currentid + "')\"><img src='/Content/Images/Delete.png' style='border:none;' /></a>" +
                            "<a id='cancelLink" + currentid + "' style='display:none;' href='#' onclick=\"cancelRow('" + currentid + "');\"><img src='/Content/Images/Unchecked.gif' style='border:none;' /></a>";

                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { editoperation: editLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { deleteoperation: deleteLink });
                    }
                }
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<div id="errorConfirmationDialog"></div>
<div id="errorDialog"></div>

<a href="#" id="addLink1" onclick="addRow()"><img src="@Url.Content("~/Content/Images/Add.gif")" alt="Add New Territories" style="border: none;" /></a>&nbsp;<a href="#" id="addLink2" onclick="addRow()">Add New Territories</a>
<br /><br />

<table id="list-grid"></table>
<div id="list-pager"></div>
