@model north.ViewModels.SuppliersViewModel
@{
    ViewBag.Title = "List of Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jqgrid-listsearch.js")
    @Scripts.Render("~/Scripts/jquery.searchFilter.min.js")

    <script type="text/javascript">
        $(function () {
            var checkBoxSelectValues = ":;True:<input type='checkbox' checked disabled /> True;False:<input type='checkbox' disabled /> False";

            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/SuppliersApi/SelectSkipTakeWithFilters/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Supplier ID','Company Name','Contact Name','Contact Title','Address','City','Region1','Postal Code','Country','Phone','Fax','Home Page'],
                colModel: [
                    { name: 'SupplierID', index: 'SupplierID', align: 'right' },
                    { name: 'CompanyName', index: 'CompanyName', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'ContactName', index: 'ContactName', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'ContactTitle', index: 'ContactTitle', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'Address', index: 'Address', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'City', index: 'City', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'Region1', index: 'Region1', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'PostalCode', index: 'PostalCode', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'Country', index: 'Country', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'Phone', index: 'Phone', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'Fax', index: 'Fax', align: 'left', searchoptions: { sopt: ['cn']} },
                    { name: 'HomePage', index: 'HomePage', align: 'left', search: false  }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'SupplierID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Suppliers',
                height: '100%',
                width: '1200',
                ignoreCase: true
            }).jqGrid('navGrid', '#list-pager', { edit: false, add: false, del: false, search: false, refresh: false });

            $('#list-grid').jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, beforeSearch: function () {
                // verify entered data before searching
                var postData = $('#list-grid').jqGrid('getGridParam', 'postData');
                var searchData = $.parseJSON(postData.filters);
                var isThereValidationErrors = false;
                var validationErrors = "";

                for (var iRule = 0; iRule < searchData.rules.length; iRule++) {
                    var enteredValue = searchData.rules[iRule].data;

                    if (searchData.rules[iRule].field == "SupplierID" && !isNumeric(enteredValue)) {
                        validationErrors += "  Supplier ID must be a valid number.";
                        isThereValidationErrors = true;
                    }
                }

                if(isThereValidationErrors)
                    alert($.trim(validationErrors));

                return isThereValidationErrors;
            }
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
