@{
    ViewBag.Title = "List of Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jqgrid-listcrudredirect.js")

    <script type="text/javascript">
        var urlAndMethod = '/Orders/Delete/';

        $(function () {
            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/OrdersApi/SelectSkipTake/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Order ID','Customer ID','Employee ID','Order Date','Required Date','Shipped Date','Ship Via','Freight','Ship Name','Ship Address','Ship City','Ship Region','Ship Postal Code','Ship Country', '', ''],
                colModel: [
                    { name: 'OrderID', index: 'OrderID', align: 'right' },
                    { name: 'CustomerID', index: 'CustomerID', align: 'left' },
                    { name: 'EmployeeID', index: 'EmployeeID', align: 'right' },
                    { name: 'OrderDate', index: 'OrderDate', align: 'left', sorttype: "date" },
                    { name: 'RequiredDate', index: 'RequiredDate', align: 'left', sorttype: "date" },
                    { name: 'ShippedDate', index: 'ShippedDate', align: 'left', sorttype: "date" },
                    { name: 'ShipVia', index: 'ShipVia', align: 'right' },
                    { name: 'Freight', index: 'Freight', align: 'right', formatter: 'currency', formatoptions: { decimalPlaces: 2, prefix: "$"} },
                    { name: 'ShipName', index: 'ShipName', align: 'left' },
                    { name: 'ShipAddress', index: 'ShipAddress', align: 'left' },
                    { name: 'ShipCity', index: 'ShipCity', align: 'left' },
                    { name: 'ShipRegion', index: 'ShipRegion', align: 'left' },
                    { name: 'ShipPostalCode', index: 'ShipPostalCode', align: 'left' },
                    { name: 'ShipCountry', index: 'ShipCountry', align: 'left' },
                    { name: 'editoperation', index: 'editoperation', align: 'center', width: 40, sortable: false },
                    { name: 'deleteoperation', index: 'deleteoperation', align: 'center', width: 40, sortable: false }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'OrderID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Orders',
                height: '100%',
                width: '1200',
                gridComplete: function () {
                    var ids = jQuery("#list-grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var currentid = ids[i];
                        editLink = "<a href='/Orders/Update/" + currentid + "'><img src='/Content/Images/Edit.gif' style='border:none;' /></a>";
                        deleteLink = "<a href='#' onclick=\"deleteItem('" + currentid + "')\"><img src='/Content/Images/Delete.png' style='border:none;' /></a>";
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { editoperation: editLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { deleteoperation: deleteLink });
                    }
                }
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<div id="errorConfirmationDialog"></div>
<div id="errorDialog"></div>

<a href="@Url.Action("Add", "Orders")"><img src="@Url.Content("~/Content/Images/Add.gif")" alt="Add New Orders" style="border: none;" /></a>&nbsp;@Html.ActionLink("Add New Orders", "Add", "Orders")
<br /><br />

<table id="list-grid"></table>
<div id="list-pager"></div>
